# python
__pycache__/
*.pyc
venv/

# Ignora tudo na pasta logs_sistema, exceto __init__.py (! = Negação)
# se não funcionar de primeira, executar git add -f logs_sistema/__init__.py
logs_sistema/*
!logs_sistema/__init__.py

# histórico de mapeamento de roles
map_roles_hist/map_roles_hist.json
map_roles_hist/map_roles_desc.json

# pycharm
.idea/

# base de apoio
base_apoio/

# vscode
.vscode

# arquivos e diretórios individuais de cada projeto
migrations/
uploads/
uploads_bkp_edicao/
_data_loads/
mapeamento_roles.py
config.py
servidor_huey/bd_tarefas.db
*.log
*.db-shm
*.db-wal