{% extends 'sistema_wr/estrutura/base.html' %}
{% block conteudo %}
{% include 'sistema_wr/estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            GERENCIAMENTO DE MODELOS DE CONTRATO
          </div>
          <h2 class="page-title">
            Listagem de Modelos de Contrato
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
          <div class="d-flex">
            <a href="{{url_for('cadastrar_modelo_contrato')}}" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Novo Modelo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'sistema_wr/estrutura/mensagens_flash.html' %}
      <div class="col-12">
        {%if modelos != []%}
        <div class="card">
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th style="text-align: center;">Nome do Modelo</th>
                  <th style="text-align: center;">Status</th>
                  <th class="w-1" style="text-align: center;">Ações</th>
                </tr>
              </thead>
              <tbody>

                {%for m in modelos%}
                <tr>
                  <td style="text-align: center;">
                    {{m.nome_modelo[:50]}}
                    {%if m.nome_modelo | length > 50%}...{%endif%}
                  </td>
                  <td style="text-align: center;">
                    {%if m.ativo%}
                    <span class="badge bg-green-lt">Ativo</span>
                    {%else%}
                    <span class="badge bg-red-lt">Inativo</span>
                    {%endif%}
                  </td>
                  <td style="text-align: center;">
                    <div class="btn-list flex-nowrap">
                      <a href="{{url_for('editar_modelo_contrato', modelo_id=m.id)}}"
                        class="btn btn-icon btn-outline-orange" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Editar modelo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                          <path d="M13.5 6.5l4 4" />
                        </svg>
                      </a>
                      <a href="#" class="btn btn-icon btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#modal-excluir-{{ m.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M18 6l-12 12" />
                          <path d="M6 6l12 12" />
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>

                <!-- Excluir modelo modal -->
                <div class="modal modal-blur fade" id="modal-excluir-{{m.id}}" tabindex="-1" role="dialog"
                  aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="modal-status bg-danger"></div>
                      <div class="modal-body text-center py-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="icon mb-2 text-danger icon-lg">
                          <path d="M12 9v4" />
                          <path
                            d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                          <path d="M12 16h.01" />
                        </svg>
                        <div class="text-secondary">
                          <h3>Esta ação não poderá ser desfeita!</h3>
                          Você realmente deseja excluir o modelo <strong>"{{m.nome_modelo}}"</strong>?
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="w-100">
                          <div class="row">
                            <div class="col">
                              <a href="#" class="btn btn-3 w-100" data-bs-dismiss="modal">
                                Cancelar
                              </a>
                            </div>
                            <div class="col">
                              <a href="{{url_for('excluir_modelo_contrato', modelo_id=m.id)}}"
                                class="btn btn-danger btn-4 w-100">
                                Excluir
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        {%else%}
        <div class="area-info" style="
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background-color:#ffffff
      ">
          <div class="icon-info" style="font-size: 60px; color: #fc7801; margin-bottom: 15px">
            📄
          </div>
          <h2 style="font-size: 22px; margin-bottom: 10px">
            Nenhum modelo de contrato encontrado
          </h2>
          <p>
            Não encontramos modelos de contrato cadastrados para serem exibidos no momento.
          </p>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
  {% include 'sistema_wr/estrutura/footer.html' %}

</div>

{% endblock conteudo %}