{% extends 'sistema_wr/estrutura/base.html' %}
{% block conteudo %}
{% include 'sistema_wr/estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            CLIENTES
          </div>
          <h2 class="page-title">
            Listagem
          </h2>
        </div>

        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="d-flex gap-2">
            <a href="{{ url_for('cadastrar_cliente') }}" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Cadastrar Cliente
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'sistema_wr/estrutura/mensagens_flash.html' %}

      <div class="col-12">
        <div class="card">
          {%if clientes%}
          <!-- Início Tabela -->
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th style="text-align: center;">Identificação</th>
                  <th style="text-align: center;">CPF/CNPJ</th>
                  <th style="text-align: center;">Celular</th>
                  <th style="text-align: center;">Ativo</th>
                  <th class="w-1" style="text-align: center;">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for c in clientes %}
                <tr>
                  <td class="text-secondary" style="text-align: center;">
                    {{ c.identificacao[:40] }}
                    {% if c.identificacao | length > 40 %}
                    ...
                    {% endif %}
                  </td>
                  <td class="text-secondary {%if c.fatura_via_cpf == 1%}cpfMask{%else%}cnpjMask{%endif%}"
                    style="text-align: center;">
                    {{ c.numero_documento }}
                  </td>
                  <td class="text-secondary celular" style="text-align: center;">
                    {{ c.telefone }}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {%if c.ativo == 1%}<span class="badge badge-outline text-green">Sim</span>{%else%}<span
                      class="badge badge-outline text-danger">Não</span>{%endif%}
                  </td>
                  <td>
                    <div class="btn-list flex-nowrap">
                      <a href="{{ url_for('editar_cliente', id=c.id) }}" class="btn btn-icon btn-outline-warning"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Editar cliente">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                          <path d="M13.5 6.5l4 4" />
                        </svg>
                      </a>
                      {% if c.ativo == 1 %}
                      <a href="#" class="btn btn-icon btn-outline-danger desativar" data-bs-toggle="modal"
                        data-bs-target="#modal-desativar-{{ c.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M18 6l-12 12" />
                          <path d="M6 6l12 12" />
                        </svg>
                      </a>

                      <div class="modal modal-blur fade" id="modal-desativar-{{c.id}}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-status bg-danger"></div>
                            <div class="modal-body text-center py-4">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon mb-2 text-danger icon-lg">
                                <path d="M12 9v4" />
                                <path
                                  d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                                <path d="M12 16h.01" />
                              </svg>
                              <div class="text-secondary">
                                Você realmente deseja desativar este cliente?
                              </div>
                            </div>
                            <div class="modal-footer">
                              <div class="w-100">
                                <div class="row">
                                  <div class="col">
                                    <a href="#" class="btn btn-3 w-100" data-bs-dismiss="modal">
                                      Fechar
                                    </a>
                                  </div>
                                  <div class="col">
                                    <a href="{{url_for('desativar_cliente', id=c.id)}}"
                                      class="btn btn-danger btn-4 w-100">
                                      Desativar
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%else%}
                      <!-- Botão: Ativar cliente -->
                      <a href="{{ url_for('ativar_cliente', id=c.id) }}" class="btn btn-icon btn-outline-success ativar"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Ativar cliente">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                      </a>
                      {%endif%}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {%else%}
          <div class="area-info-card" style="padding: 30px; border-radius: 10px; text-align: center;
                          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                          background-color: white;">
            <div class="icon-extrato" style="font-size: 70px; color: #fc7801; margin-bottom: 15px">❌
            </div>
            <h2 style="font-size: 22px; margin-bottom: 10px; color: #555;">
              Nenhum cliente cadastrado.
            </h2>
            <p style="color: #777;">
              No momento não há clientes para serem exibidos.
            </p>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>

  {% include 'sistema_wr/estrutura/footer.html' %}
</div>

{% endblock conteudo %}