{% extends 'sistema_hash/estrutura/base.html' %}
{% block conteudo %}
{% include 'sistema_hash/estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            GERENCIAMENTO DE ROLES
          </div>
          <h2 class="page-title">
            Edição de Role
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'sistema_hash/estrutura/mensagens_flash.html' %}

      <div class="col-12">
        <form class="card" action="{{ url_for('role_editar', id=role.id ) }}" method="POST">
          <div class="card-body">
            <div class="row row-cards">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input type="text" class="form-control" name="nomeRole" 
                    value="{{ role.nome }}" placeholder="nome_role" >
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Cargo</label>
                  <input type="text" class="form-control" name="cargoRole" 
                    value="{{ role.cargo }}" placeholder="Nome do Cargo">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">Alterar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include 'sistema_hash/estrutura/footer.html' %}
  
</div>

{% endblock conteudo %}