{% extends 'sistema_hash/estrutura/base.html' %}
{% block conteudo %}
{% include 'sistema_hash/estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            GERENCIAMENTO DE ROLES
          </div>
          <h2 class="page-title">
            Nova Role
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'sistema_hash/estrutura/mensagens_flash.html' %}

      <div class="col-12">
        <form class="card" action="{{ url_for('role_cadastrar') }}"
          method="POST">
          <div class="card-body">
            <div class="row row-cards">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input type="text" class="form-control" name="nomeRole"
                    placeholder="nome_role">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Cargo</label>
                  <input type="text" class="form-control" name="cargoRole"
                    placeholder="Nome do Cargo">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center text-md-end">
            <a href="{{ url_for('roles_listar') }}"
              class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-left"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor"
                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
                <path d="M5 12l6 6"></path>
                <path d="M5 12l6 -6"></path>
              </svg>
              Voltar
            </a>
            <button type="submit" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-plus"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor"
                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include 'sistema_hash/estrutura/footer.html' %}

</div>

{% endblock conteudo %}