{% extends 'sistema_hash/estrutura/base.html' %}
{% block conteudo %}
{% include 'sistema_hash/estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            GERENCIAMENTO DE USUÁRIOS
          </div>
          <h2 class="page-title">
            Listagem de Usuários
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="d-flex">
            <input type="search" class="form-control d-inline-block w-9 me-3"
              placeholder="Pesquisar Usuário" />
            <a href="{{ url_for('usuario_cadastrar') }}"
              class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Novo Usuário
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'sistema_hash/estrutura/mensagens_flash.html' %}
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table
              class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th style="text-align: center;">ID</th>
                  <th style="text-align: center;">Nome Completo</th>
                  <th style="text-align: center;">CPF</th>
                  <th style="text-align: center;">Telefone</th>
                  <th style="text-align: center;">E-mail</th>
                  <th style="text-align: center;">Nível de Acesso</th>
                  <th style="text-align: center;">Ativo</th>
                  <th class="w-1" style="text-align: center;">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for usuario in usuarios %}
                {% if usuario.role_id != 7 %}
                <tr>
                  <td class="text-secondary" data-label="ID"
                    style="text-align: center;">
                    {{ usuario.id }}
                  </td>
                  <td class="text-secondary" data-label="nomeCompleto"
                    style="text-align: center;">
                    {{ usuario.nome }} {{ usuario.sobrenome }}
                  </td>
                  <td class="text-secondary" data-label="CPF"
                    style="text-align: center;">
                    {{ usuario.cpf }}
                  </td>
                  <td class="text-secondary" data-label="Telefone"
                    style="text-align: center;">
                    {{ usuario.telefone }}
                  </td>
                  <td class="text-secondary" data-label="E-mail"
                    style="text-align: center;">
                    {{ usuario.email }}
                  </td>
                  <td class="text-secondary" data-label="Nível de Acesso"
                    style="text-align: center;">
                    {{ usuario.role.cargo }}
                  </td>
                  <td class="text-secondary" data-label="Ativo"
                    style="text-align: center;">
                    {% if usuario.ativo %}
                    <span class="badge bg-green-lt">Sim</span>
                    {% else %}
                    <span class="badge bg-red-lt">Não</span>
                    {% endif %}
                  </td>

                  <td>
                    <div class="btn-list flex-nowrap"
                      style="justify-content: center;">
                      <a href="{{ url_for('usuario_editar', id=usuario.id) }}"
                        class="btn">
                        Editar
                      </a>
                      <div class="dropdown">
                        <button class="btn dropdown-toggle align-text-top"
                          data-bs-toggle="dropdown">
                          Ações
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                          {% if usuario.ativo == True %}
                          <a href="#" class="dropdown-item desativar"
                            data-id="{{ usuario.id }}"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-desativar">
                            Desativar
                          </a>
                          {% else %}
                          <a href="#" class="dropdown-item ativar"
                            data-id="{{ usuario.id }}"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-ativar">
                            Ativar
                          </a>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blur fade" id="modal-desativar" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-title">Confirma a desativação do Usuário?</div>
          <div>Após confirmar, o usuário perderá todos os privilégios no
            sistema.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link link-secondary me-auto"
            data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger">Sim, confirmo a Desativação</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blur fade" id="modal-ativar" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-title">Confirma a ativação do Usuário?</div>
          <div>Após confirmar, o usuário voltará a ter todos os privilégios no
            sistema.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link link-secondary me-auto"
            data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger">Sim, confirmo a Ativação</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'sistema_hash/estrutura/footer.html' %}

  <script>
    const modalDesativar = document.getElementById('modal-desativar');
    const confirmButtonDesativar = modalDesativar.querySelector('.btn-danger');

    document.querySelectorAll('.desativar').forEach(btn => {
        btn.addEventListener('click', function() {
            const id = this.getAttribute('data-id');
            // 12345 é aleatório, apenas para ser substituido pelo id
            const url = `{{ url_for('usuario_desativar', id=12345) }}`.replace('12345', id);
            confirmButtonDesativar.setAttribute('data-url', url);
        });
    });

    confirmButtonDesativar.addEventListener('click', function() {
        const url = this.getAttribute('data-url');
        window.location.href = url;
    });
  </script>

  <script>
    const modalAtivar = document.getElementById('modal-ativar');
    const confirmButtonAtivar = modalAtivar.querySelector('.btn-danger');

    document.querySelectorAll('.ativor').forEach(btn => {
        btn.addEventListener('click', function() {
            const id = this.getAttribute('data-id');
            // 12345 é aleatório, apenas para ser substituido pelo id
            const url = `{{ url_for('usuario_ativar', id=12345) }}`.replace('12345', id);
            confirmButtonAtivar.setAttribute('data-url', url);
        });
    });

    confirmButtonAtivar.addEventListener('click', function() {
        const url = this.getAttribute('data-url');
        window.location.href = url;
    });
  </script>

</div>

{% endblock conteudo %}