{% extends 'sistema_wr/estrutura/base.html' %}
{% block conteudo %}
{% include 'sistema_wr/estrutura/header.html' %}
<div class="container-tight py-4">
    <div class="empty">
      <div class="empty-header">401</div>
      <p class="empty-title">Olá, você obteve um erro 401!</p>
      <p class="empty-subtitle text-secondary">
        Isso significa que você não tem permissão para navegar por aqui.
      </p>
      <div class="empty-action">
        <a href="{{ url_for('principal') }}" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" 
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" 
            fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l14 0" />
            <path d="M5 12l6 6" />
            <path d="M5 12l6 -6" />
        </svg>
          Voltar para o início
        </a>
      </div>
    </div>
  </div>

{% endblock conteudo %}